<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="img/icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./../style.css" />
    <title>CableEx | Special Offer!</title>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src='./../ajax.js'></script>
    <script defer src="./../script.js"></script>
    <script src="https://reviewsonmywebsite.com/js/v2/embed.js?id=c338ae55b38e487f19ae" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script defer async src="https://www.googletagmanager.com/gtag/js?id=UA-189523347-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-189523347-1');
    </script>
</head>

<body>
        <nav class="nav">
            <a href="https://www.cableex.biz/" target="blank">
                <img src="images/logo-1.png" alt="logo" class="nav__logo" id="logo"/>
            </a>
            <button class="hamburger" id="hamburger">
                <i class="fas fa-bars" style="font-size: 2rem;"></i>
            </button>
            <ul class="nav__links" id="nav-links">
                <li class="nav__item">
                    <a class="nav__link" href="#section--1">Bundles & Deals</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#section--2">Remote Access</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#section--3">Testimonials</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--btn btn--show-modal" href="#">Contact Now</a>
                </li>
            </ul>
        </nav>



    <div class="header__title">
        <h1>
            Get
            <!-- Red highlight effect -->
            <span class="highlight">15%</span>
            off Security Camera System installation costs when purchasing your surveillance system from CableEx. Coupon code
            <span class="highlight">CABLEEX15</span>
        </h1>
        <h4>Our HikVision camera systems are intuitive, of quality imaging and offer remote access with no monthly or annual fees. Already have your own camera system? No problem! We can install that for you as well!</h4>
        <img src="images/header-image.png" class="header__img" alt="Header photo" />

    </div>

    <div classname="section__container"></div>
        <section class="section" id="section--1">
            <div class="section__title">
                <h2 class="section__description">Monthly Surveillance Deals</h2>
                <h3 class="section__header">
                    Bundles
                </h3>
            </div>

            <div class="operations">
                <div class="operations__tab-container">
                    <button
                        class="btn operations__tab operations__tab--1 operations__tab--active" data-tab="1">
                        (4) Turret 4K Camera Surveillance System
                    </button>
                    <button class="btn operations__tab operations__tab--2" data-tab="2">
                        (6) 4K Turret Camera Surveillance System
                    </button>
                    <button class="btn operations__tab operations__tab--3" data-tab="3">
                        (4) Camera Wi-Fi Surveillance System
                    </button>
                    <button class="btn operations__tab operations__tab--4" data-tab="4">
                        Smart Wi-Fi Doorbell
                    </button>
                    <button class="btn operations__tab operations__tab--5" data-tab="5">
                        BYOD (10% off Installation Costs)
                    </button>
                </div>
                <div class="operations__content operations__content--1 operations__content--active">
                    <div class="operations__icon">
                        <img src="images/4 Turret 4K.PNG" alt="4turret"
                        class="features__img" />
                    </div>
                    <h5 class="operations__header">
                        $419 + Professional Installation of $189 per camera (Mention CABLEEX15 and receive 15% off installation)
                    </h5>
                    <div class="content__bullet__points">
                        <div class="content__camera">
                            <ul>
                                <h1>Cameras</h1>
                                <li>1/3" (4 MP) Progressive Scan CMOS</li>
                                <li>2560 x 1440 (4 MP) Resolution</li>
                                <li>2.8 mm Fixed Lens</li>
                                <li>EXIR 2.0 with 100 ft (30 m) IR Range</li>
                                <li>H.265+/H.265/H.264+/H.264/MJPEG</li>
                                <li>IP67 Protection</li>
                                <li>Durable Metal Housing</li>
                                <li>120 dB WDR for Clear Images</li>
                                <li>Weather Resistant</li>
                            </ul>
                        </div>
                        <div class="content__nvr">
                            <ul>
                                <h1>NVR</h1>
                                <li>Up to 8 MP Resolution Recording</li>
                                <li>H.265+/H.265/H.264+/H.264/MPEG</li>
                                <li>Plug-and-Play with 4PoE Cameras</li>
                                <li>Up to 2 SATA Interfaces</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="operations__content operations__content--2">
                    <div class="operations__icon">
                        <img src="images/6 Turret 4K.PNG" alt="6turret"
                        class="features__img" />
                    </div>
                    <h5 class="operations__header">
                        $599 + Professional Installation of $189 per camera (Mention CABLEEX15 and receive 15% off installation)
                    </h5>
                    <div class="content__bullet__points">
                        <div class="content__camera">
                            <ul>
                                <h1>Cameras</h1>
                                <li>1/3" (4 MP) Progressive Scan CMOS</li>
                                <li>2560 x 1440 (4 MP) Resolution</li>
                                <li>2.8 mm Fixed Lens</li>
                                <li>EXIR 2.0 with 100 ft (30 m) IR Range</li>
                                <li>H.265+/H.265/H.264+/H.264/MJPEG</li>
                                <li>IP67 Protection</li>
                                <li>Durable Metal Housing</li>
                                <li>120 dB WDR for Clear Images</li>
                                <li>Weather Resistant</li>
                            </ul>
                        </div>
                        <div class="content__nvr">
                            <ul>
                                <h1>NVR</h1>
                                <li>Up to 8 MP Resolution Recording</li>
                                <li>H.265+/H.265/H.264+/H.264/MPEG</li>
                                <li>Plug-and-Play with 4PoE Cameras</li>
                                <li>Up to 2 SATA Interfaces</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="operations__content operations__content--3">
                    <div class="operations__icon">
                        <img src="images/4 Wi-Fi Bullets.PNG" alt="wifi-bullets"
                        class="features__img" />
                    </div>
                    <h5 class="operations__header">
                        $499 + Professional Installation of $189 per camera (Mention CABLEEX15 and receive 15% off installation) 
                    </h5>
                    <div class="content__bullet__points">
                        <div class="content__camera">
                            <ul>
                                <h1>One Kit Provides Everything Required for Small Monitoring Scenarios</h1>
                                <li>1 x DS-7104NI-K1/W/M 4-ch Wi-Fi NVR with Decoding up to 4-ch @ 4 MP</li>
                                <li>4 x DS-2CV1041G1-IDW 4 MP Wi-Fi Bullet Cameras</li>
                                <li>1 x Network Cable</li>
                                <li>1 x HDMI Cable</li>
                                <li>1 x 1 TB HDD Pre-Installed</li>
                                <li>Efficient H.265 Compression Technology</li>
                            </ul>
                        </div>
                        <div class="content__nvr">
                            <ul>
                                <h1>1 TB hard disk drive + Cloud storage</h1>
                                <li>Auto Wi-Fi Connection and Easy installation</li>
                                <li>Wi-Fi Repeater Function for Extended Range</li>
                                <li>Hik-Connect Cloud Service</li>
                                <li>Mobile App for Remote Management and Device Viewing</li>
                                <li>Weather Resistant</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="operations__content operations__content--4">
                    <div class="operations__doorbell">
                        <img src="images/HikVision Door Bell.PNG"  alt="doorbelll"
                        class="features__img" />
                    </div>
                    <h5 class="operations__header__doorbell">
                        $149 + Professional Installation of $189 (Mention CABLEEX15 and receive 15% off installation) 
                    </h5>
                    <div class="content__bullet__points">
                        <div class="content__camera">
                            <ul>
                                <h1>Access on-demand streaming video</h1>
                                <li>Two-Way Talk</li>
                                <li>View from Anywhere Using Mobile Application</li>
                                <li>MicroSD Card Storage (Up to 128 GB)</li>
                                <li>2.4/5 GHz Dual-Band Wi-Fi</li>
                                <li>IP65 Dust/Water Protection</li>
                            </ul>
                        </div>
                        <div class="content__nvr">
                            <ul>
                                <h1>Listen to two-way audio via a mobile</h1>
                                <li>3 MP (2048 x 1536) Resolution</li>
                                <li>Up to 16 ft (5 m) IR Distance</li>
                                <li>180° Vertical Field of View</li>
                                <li>PIR Motion Detection</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="operations__content operations__content--5">
                    <div class="operations__doorbell">
                        <img src="images/logo-1.png"  alt="logo"
                        class="features__img" />
                    </div>
                    <h5 class="operations__header__doorbell">
                        Bring your own device. $199 professional installation cost per camera. When you mention coupon code CABLEEX10 you will receive 10% off your total install cost.
                    </h5>

                </div>

            </div>
        </section>
    </div>

    <div classname="section__container">
        <section class="section" id="section--2">
            <div class="section__title">
                <h2 class="section__description">Remote Access</h2>
                <h3 class="section__header">
                    Hik-Connect Remote Access Platform and Mobile App
                </h3>
            </div>

            <div class="features">
                    <img src="images/diagram.png" alt="diagram"
                    class="features__img" />
                    <div class="features__feature">
                        <div class="features__icon">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M18 24h-12c-1.104 0-2-.896-2-2v-20c0-1.104.896-2 2-2h12c1.104 0 2 .896 2 2v20c0 1.104-.896 2-2 2zm1-5.083h-14v3.083c0 .552.449 1 1 1h12c.552 0 1-.448 1-1v-3.083zm-7 3c-.553 0-1-.448-1-1s.447-1 1-1c.552 0 .999.448.999 1s-.447 1-.999 1zm7-17h-14v13h14v-13zm-1-3.917h-12c-.551 0-1 .449-1 1v1.917h14v-1.917c0-.551-.448-1-1-1zm-4.5 1.917h-3c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h3c.276 0 .5.224.5.5s-.224.5-.5.5z"/></svg>
                        </div>
                        <h5 class="features__header"></h5>
                        <p>
                            View and manage your HikVision Camera Surveillance system from your mobile device. Using the free HikVision Connect app. Apple and Android friendly with no monthly fees or setup costs. It is as easy as downloading, registering and adding your device. Of course CableEx handles your initial setup on install! 
                        </p>
                    </div>
            </div>
        </section>
    </div>


    <div classname="section__container">
        <section class="section" id="section--3">
            <div class="section__title section__title--testimonials">
                <h2 class="section__description">Not sure yet?</h2>
                <h3 class="section__header">
                    See our reviews on Google! We pride ourselves on doing things right and professionalism.
                </h3>
            </div>
            <div data-romw-token="DFGIe1enlE85kiXzNosp6J4oHHgWRaSLo4zW0EF3U7lkzyeMUg"></div>
        </section>
    </div>

    <div classname="section__container">
        <section class="section section--sign-up">
            <div class="section__title">
                <h3 class="section__header">
                    Call: <a class="contact-link" href="tel:7207802948">(720) 780-2948</a>
                    or Email: <a class="contact-link" href="mailto:info@cableex.biz">info@CableEx.biz</a>
                </h3>
                
            </div>
            <button class="btn btn--show-modal">Get a free consultation today!</button>
        </section>
    </div>


    <footer class="footer">
        <a href="https://www.cableex.biz/" target="blank">
            <img src="images/logo-1.png" alt="Logo" class="footer__logo" />
        </a>
    </footer>

    <div class="modal hidden">
        <button class="btn--close-modal">&times;</button>
        <h2 class="modal__header">
            Contact us now to get started
        </h2>
        <form class="modal__form">
            <label>First Name</label>
            <input type="text" id="first-name" />
            <label>Last Name</label>
            <input type="text" id="last-name"/>
            <label>Phone Number</label>
            <input type="text" id="phone-number"/>
            <label>Email Address</label>
            <input type="email" id="email" />
            <label>Discount Code</label>
            <input type="text" id="code"/>
            <button class="btn" type="submit" value="submit">Submit &rarr;</button>
        </form>
    </div>
    <div class="overlay hidden"></div>


</body>

</html>